
<h5 style="float: left;font-weight:bold;text-align: center;margin-top: 20px;margin-left: 30px;">Casual Shirts for Men<font style="color: rgb(190, 188, 188)">- 108 items</font></h5>
<br>

<section class=" my-5" style="margin: 20px;">
  
    <!-- Section heading -->
    
    <!-- Grid row -->
    <h4 class="filters" >FILTERS</h4>
    <div  class="row">
  
      <!-- Grid column -->
     
      <div  class="col-lg-2 col-md-6 mb-lg-0 mb-4 " style="height: 400px;position: sticky;border: 1px solid rgb(233, 227, 227);height: 100%;;">
    
       
        <br>
        <div class="row">
          <div class="col-sm-6">
        <h5 class="filters" >BRAND</h5>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-search" style="margin-left: 90px;background-color: rgb(248, 233, 233);padding: 8px;border-radius: 50px;"></i>

        </div>
</div>
<br>
        <div class="custom-control custom-checkbox" >
          <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
          <label class="custom-control-label" for="defaultRegisterFormNewsletter">BlackBerrys</label>
          
      </div>
      <br>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Parx</label>
        
    </div>
      <br>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Denim</label>
        
    </div>
    <br>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
      <label class="custom-control-label" for="defaultRegisterFormNewsletter">Lee Cooper</label>
      
  </div>
  <br>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Peter England</label>
    
</div>
<br>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
  <label class="custom-control-label" for="defaultRegisterFormNewsletter">Jack & Jones</label>
  
</div>
<br>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
  <label class="custom-control-label" for="defaultRegisterFormNewsletter">Lee Cooper</label>
  
</div>
<br>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
<label class="custom-control-label" for="defaultRegisterFormNewsletter">Peter England</label>

</div>
<br>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
<label class="custom-control-label" for="defaultRegisterFormNewsletter">Jack & Jones</label>

</div>
      <br>
        </div>
      
     
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-4 ">
        <!-- Card -->
        <div class="card align-items-center" >
          <!-- Card image -->
          <div class="view overlay">
            <img src="{{Products[1].src}}" class="card-img-top"
              alt="" height="320px;">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body text-center">
            <!-- Category & Title -->
            <a href="" class="grey-text">
              <h5>Sport wear</h5>
            </a>
            <h5>
              <strong>
                {{Products[1].name}}
              </strong>
            </h5>
            <h4 class="font-weight-bold blue-text">
              <strong>{{Products[1].price}}</strong>
            </h4>
            <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;" (click)= "addtocart(Products[1]);">Add To Cart</button>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-md-0 mb-4 ">
        <!-- Card -->
        <div class="card align-items-center">
          <!-- Card image -->
          <div class="view overlay">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2220379/2017/11/24/11511521985015-Roadster-Men-Multicoloured-Slim-Fit-Checked-Casual-Shirt-3321511521984827-1.jpg" class="card-img-top"
              alt="" height="320px;">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body text-center">
            <!-- Category & Title -->
            <a href="" class="grey-text">
              <h5>Sport wear</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="dark-grey-text">Grey blouse
                  <span class="badge badge-pill primary-color">BEST</span>
                </a>
              </strong>
            </h5>
            <h4 class="font-weight-bold blue-text">
              <strong>99$</strong>
            </h4>
            <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-md-0 mb-4 ">
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/7189947/2018/8/30/b0a17130-00b2-47dd-9acf-75fcdf7333111535614137835-Bene-Kleed-Men-Off-White--Blue-Slim-Fit-Printed-Casual-Shirt-3181535614137565-1.jpg" class="card-img-top"
                alt="" height="320px;">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a href="" class="grey-text">
                <h5>Sport wear</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">Grey blouse
                    <span class="badge badge-pill primary-color">BEST</span>
                  </a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>99$</strong>
              </h4>
              <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-md-0 mb-4 ">
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2127876/2017/11/23/11511431472633-Roadster-Men-Black-Regular-Fit-Solid-Casual-Shirt-8801511431472500-1.jpg" class="card-img-top"
                alt="" height="320px;">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a href="" class="grey-text">
                <h5>Sport wear</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">Grey blouse
                    <span class="badge badge-pill primary-color">BEST</span>
                  </a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>99$</strong>
              </h4>
              <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      <div class="col-lg-2 col-md-6">
        <!-- Card -->
        <div class="card align-items-center">
          <!-- Card image -->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
              alt="" height="320px;">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body text-center">
            <!-- Category & Title -->
            <a href="" class="grey-text">
              <h5>Outwear</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="dark-grey-text">Black jacket</a>
              </strong>
            </h5>
            <h4 class="font-weight-bold blue-text">
              <strong>219$</strong>
            </h4>
            <button class="btn btn-primary" mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
    <br><br>
   
  <div class="row">
       
        <!-- Grid row -->
        <div class="col-lg-2 col-md-6 mb-lg-0 mb-4 "    style="height: 400px;position: sticky;border: 1px solid rgb(233, 227, 227);">
    
       
            <br>
            <div class="row">
              <div class="col-sm-6">
            <h5 class="filters" >COLOR</h5>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-search" style="margin-left: 90px;background-color: rgb(248, 233, 233);padding: 8px;border-radius: 50px;"></i>
    
            </div>
    </div>
    <br>
            <div class="custom-control custom-checkbox" >
              <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
              <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(102, 204, 117);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
              
          </div>
          <br>
          <div class="custom-control custom-checkbox" >
              <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
              <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(88, 86, 86);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
              
          </div>
          <br>
          <div class="custom-control custom-checkbox" >
              <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
              <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: black;height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
              
          </div>
        <br>
        <div class="custom-control custom-checkbox" >
            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
            <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: black;height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
            
        </div>
      <br>
      <div class="custom-control custom-checkbox" >
          <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
          <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(236, 137, 6);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
          
      </div>
    <br>
    <div class="custom-control custom-checkbox" >
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(26, 122, 182);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
        
    </div>
        <br>
        <div class="custom-control custom-checkbox" >
            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
            <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(203, 14, 250);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
            
        </div>
      <br>
      <div class="custom-control custom-checkbox" >
          <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
          <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(13, 13, 245);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
          
      </div>
      <br>
      <div class="custom-control custom-checkbox" >
          <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
          <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(224, 235, 21);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
          
      </div>
      <br>
      <div class="custom-control custom-checkbox" >
          <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
          <div  class="custom-control-label" for="defaultRegisterFormNewsletter" style="background-color: rgb(160, 2, 2);height:20px;width:20px;border-radius: 50px;margin-left: 10px;"></div>
          
      </div>
            <br>
          
            <!-- Card -->
      </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-2 col-md-6 mb-md-0 mb-4 ">
            <!-- Card -->
            <div class="card align-items-center">
              <!-- Card image -->
              <div class="view overlay">
                <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2130563/2018/10/15/a671bef2-0511-4613-8937-860b8f098a011539587318257-Roadster-Men-Blue-Regular-Fit-Denim-Casual-Shirt-with-Heavy-Wash-7441539587317945-1.jpg" class="card-img-top"
                  alt="" height="320px;">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body text-center">
                <!-- Category & Title -->
                <a href="" class="grey-text">
                  <h5>Sport wear</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">Grey blouse
                      <span class="badge badge-pill primary-color">BEST</span>
                    </a>
                  </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                  <strong>99$</strong>
                </h4>
                <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->
          <div class="col-lg-2 col-md-6 mb-md-0 mb-4 ">
              <!-- Card -->
              <div class="card align-items-center">
                <!-- Card image -->
                <div class="view overlay">
                  <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/6973613/2018/8/27/89b63c31-f241-4559-ba71-f63ed97dbe011535367644796-Moda-Rapido-Men-Navy-Blue--Red-Regular-Fit-Striped-Casual-Sh-1.jpg" class="card-img-top"
                    alt="" height="320px;">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card image -->
                <!-- Card content -->
                <div class="card-body text-center">
                  <!-- Category & Title -->
                  <a href="" class="grey-text">
                    <h5>Sport wear</h5>
                  </a>
                  <h5>
                    <strong>
                      <a href="" class="dark-grey-text">Grey blouse
                        <span class="badge badge-pill primary-color">BEST</span>
                      </a>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold blue-text">
                    <strong>99$</strong>
                  </h4>
                  <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
                </div>
                <!-- Card content -->
              </div>
              <!-- Card -->
            </div>
          <!-- Grid column -->
          <div class="col-lg-2 col-md-6 mb-md-0 mb-4 ">
              <!-- Card -->
              <div class="card align-items-center">
                <!-- Card image -->
                <div class="view overlay">
                  <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2220379/2017/11/24/11511521985015-Roadster-Men-Multicoloured-Slim-Fit-Checked-Casual-Shirt-3321511521984827-1.jpg" class="card-img-top"
                    alt="" height="320px;">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card image -->
                <!-- Card content -->
                <div class="card-body text-center">
                  <!-- Category & Title -->
                  <a href="" class="grey-text">
                    <h5>Sport wear</h5>
                  </a>
                  <h5>
                    <strong>
                      <a href="" class="dark-grey-text">Grey blouse
                        <span class="badge badge-pill primary-color">BEST</span>
                      </a>
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold blue-text">
                    <strong>99$</strong>
                  </h4>
                  <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
                </div>
                <!-- Card content -->
              </div>
              <!-- Card -->
            </div>
          <div class="col-lg-2 col-md-6">
            <!-- Card -->
            <div class="card align-items-center" >
                <!-- Card image -->
                <div class="view overlay">
                  <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/8979975/2019/4/25/f1942dc4-db33-4144-8e01-7ec339d80a941556193220155-HERENOW-Men-Shirts-4881556193218844-1.jpg" class="card-img-top"
                    alt="" height="320px;">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card image -->
                <!-- Card content -->
                <div class="card-body text-center">
                  <!-- Category & Title -->
                  <a href="" class="grey-text">
                    <h5>Sport wear</h5>
                  </a>
                  <h5>
                    <strong>
                      {{Products[1].name}}
                    </strong>
                  </h5>
                  <h4 class="font-weight-bold blue-text">
                    <strong>{{Products[1].price}}</strong>
                  </h4>
                  <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;" (click)= "addtocart(Products[1]);">Add To Cart</button>
                </div>
                <!-- Card content -->
              </div>
              <!-- Card -->
            </div>
            <div class="col-lg-2 col-md-6">
                <!-- Card -->
                <div class="card align-items-center" >
                    <!-- Card image -->
                    <div class="view overlay">
                      <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2284519/2019/1/31/0f4a11a5-cbfe-4d43-9ce2-cd287b2c04671548927196212-Roadster-Time-Travlr-Men-Navy-Blue--Black-Regular-Fit-Checke-1.jpg" class="card-img-top"
                        alt="" height="320px;">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <!-- Card image -->
                    <!-- Card content -->
                    <div class="card-body text-center">
                      <!-- Category & Title -->
                      <a href="" class="grey-text">
                        <h5>Sport wear</h5>
                      </a>
                      <h5>
                        <strong>
                          {{Products[1].name}}
                        </strong>
                      </h5>
                      <h4 class="font-weight-bold blue-text">
                        <strong>{{Products[1].price}}</strong>
                      </h4>
                      <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;" (click)= "addtocart(Products[1]);">Add To Cart</button>
                    </div>
                    <!-- Card content -->
                  </div>
                  <!-- Card -->
                </div>
        <!-- Grid row -->
        <br><br>
       
      