.d-block {
    height: 600px;
    background-size: cover;
}
.nav-link{
    color: black;
}
li{
    margin: 10px;
    margin-left: 20px;
}
.form-control{
    width: 400px;
}
.navbar{
padding: 60px;
}

h4{
    color: aqua
}
.navbar-toggler-icon{
    color: black;
    background-color: black;
}