


/* You can add global styles to this file, and also import other style files */
.fade {
    opacity: 1;

  }
  @font-face {
    font-family: myfonts;
    src: url(Nexa-Light.otf);
 }
 body{
  font-family: myfonts;
}