main {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
  }
  
  .extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .divider-new {
    margin-top: 0;
  }
  
  .navbar {
    background-color: #414a5c;
  }
  
  footer.page-footer {
    background-color: #414a5c;
    margin-top: 2rem;
  }
  
/* line 2, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area {
  background-color: #f3f6f7;
}

@media (max-width: 991px) {
  /* line 5, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .single-footer-widget {
    margin-bottom: 30px;
  }
}

/* line 10, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget p {
  color: #7b838a;
}

/* line 14, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget h4 {
  color: #242429;
  font-style: inherit;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 1024px) {
  /* line 14, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  /* line 14, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}

/* line 31, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget ul li {
  margin-bottom: 14px;
}

/* line 34, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget ul li a {
  color: #7f7f7f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 38, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget ul li a:hover {
  color: #0065e1;
}

/* line 45, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}

/* line 49, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget input {
  height: 48px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  background: transparent;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  color: #999999;
}

/* line 63, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget input:focus {
  outline: none;
  box-shadow: none;
}

/* line 74, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget .click-btn {
  background-color: #0065e1;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 20px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 0;
}

/* line 88, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .single-footer-widget .click-btn:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 375px) {
  /* line 74, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    margin-top: 10px;
  }
}

@media (min-width: 400px) {
  /* line 74, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .single-footer-widget .click-btn {
    left: -50px;
  }
}

/* line 103, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .footer-bottom {
  margin-top: 70px;
}

@media (max-width: 991px) {
  /* line 103, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .footer-bottom {
    margin-top: 20px;
  }
}

/* line 121, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .footer-bottom .footer-social {
  text-align: center;
}

@media (max-width: 991px) {
  /* line 121, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .footer-bottom .footer-social {
    text-align: left;
    margin-top: 30px;
  }
}

/* line 129, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .footer-bottom .footer-social a {
  background: rgba(255, 255, 255, 0.15);
  margin-left: 3px;
  width: 32px;
  display: inline-grid;
  text-align: center;
  height: 32px;
  align-content: center;
}

/* line 145, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .footer-bottom .footer-social a i,
.footer-area .footer-bottom .footer-social a span {
  font-size: 14px;
}

/* line 153, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .copyright_part {
  background-color: #0d1820;
  padding: 26px 0px;
}

/* line 157, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .copyright_part a {
  color: #0065e1;
}

@media (max-width: 576px) {
  /* line 161, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .copyright_part .footer-social {
    margin-top: 20px;
  }
}

/* line 172, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .copyright_part .footer-social a {
  margin-left: 20px;
  color: #fff;
  text-align: center;
}

/* line 177, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .copyright_part .footer-social a:hover {
  color: #0065e1;
}

/* line 182, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .copyright_part .footer-social a i:hover {
  color: #0065e1;
}

/* line 187, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
.footer-area .copyright_part .footer-social a [class^="ti-"],
.footer-area .copyright_part .footer-social a [class*=" ti-"] {
  line-height: 0;
}

@media (max-width: 991px) {
  /* line 195, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_footer.scss */
  .footer-area .copyright_part .footer-text {
    text-align: center;
  }
}
