



<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" style="height: 110px;">
    <mdb-carousel-item>
        <img class="d-block w-100" src={{carouselimages.src2}} alt="Third slide" style="height:750px">
        <h1 class="carousel-caption fadecaro" style="margin-bottom: 410px;font-family: myfonts;font-weight:bold;color: rgb(77, 62, 47);font-size: 65px;background-color: blanchedalmond;opacity: 0.8;">-WELCOME TO SHOPIFY-</h1><br><br>
    <button class="carousel-caption" id="carouselcap" mdbBtn gradient="peach" style="margin-bottom: 330px;font-family: myfonts;margin-left: 29%;" >Explore Now<br><i class="fa fa-arrow-down"></i></button>
  
      </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src={{carouselimages.src1}} alt="Second slide" style="height:750px">
      <button class="carousel-caption" id="carouselcap" mdbBtn gradient="peach" style="margin-bottom: 330px;font-family: myfonts;margin-left: 29%" >Explore Now<br><i class="fa fa-arrow-down"></i></button>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src={{carouselimages.src3}} alt="First slide" style="height:750px">
        <h1 class="carousel-caption " style="margin-bottom: 410px;;font-family: myfonts;font-weight:bold;color: rgb(243, 235, 229);font-size: 65px;">I'ts Sale Hurry Up</h1><br><br>
        <button class="carousel-caption" id="carouselcap" mdbBtn gradient="peach" style="margin-bottom: 330px;font-family: myfonts;margin-left: 29%">Explore Now<br><i class="fa fa-arrow-down"></i></button>
    </mdb-carousel-item>
  </mdb-carousel>
  <br>
  
  
  <section class="team-section text-center my-5" style="margin: 120px;">
  
      <!-- Section heading -->
      <h1 class="h1-responsive font-weight-bold my-5" style="color: black;font-size: 35px;font-family: myfonts">WE ARE ELEGANT</h1>
      <!-- Section description -->
      
    <br>
      <!--Grid row-->
      <div class="row text-center">
    
        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
    
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <i class="fa fa-star" style="color: coral;font-size: 40px"></i>
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4" style="color:rgb(241, 83, 25);font-family:myfonts">100% Satisfaction</h4>
        
       
            <p class="font-weight-normal dark-grey-text" style="font-family: myfonts;font-weight:normal">
                Lorem ipsum dolor sit amet, consectetur adipisicing <br>elit. Quod
                eos >id officiis hic tenetur quae<br> quaerat ad velit ab hic tenetur.Ut enim ad minima <br>veniam, quis nostrum exercitationem ullam
                corporis<br> suscipit laboriosam, nisi ut aliquid commodi.</p>
            <!--Review-->
          
          </div>
    
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
    
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <i class="fas fa-shipping-fast" style="color: coral;font-size: 40px"></i>
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4"  style="color:coral;font-family:myfonts">Fast Delivery</h4>
           
            
            <p class="font-weight-normal dark-grey-text" style="font-family: myfonts;font-weight:normal">
                Lorem ipsum dolor sit amet, consectetur adipisicing <br>elit. Quod
                eos >id officiis hic tenetur quae<br> quaerat ad velit ab hic tenetur.Ut enim ad minima <br>veniam, quis nostrum exercitationem ullam
                corporis<br> suscipit laboriosam, nisi ut aliquid commodi.</p>
           
    </div>
        </div>
        <!--Grid column-->
           <!--Grid column-->
           <div class="col-md-4 mb-md-0 mb-5">
    
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <i class="fas fa-check-circle" style="color: coral;font-size: 40px"></i>
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4"  style="font-family:myfonts">Exellent Product</h4>
               
                <p class="font-weight-normal dark-grey-text" style="font-family: myfonts;font-weight:normal">
                  Lorem ipsum dolor sit amet, consectetur adipisicing <br>elit. Quod
                  eos >id officiis hic tenetur quae<br> quaerat ad velit ab hic tenetur.Ut enim ad minima <br>veniam, quis nostrum exercitationem ullam
                  corporis<br> suscipit laboriosam, nisi ut aliquid commodi.</p>
                <!--Review-->
               
        
            </div>
  
        <!--Grid column-->
       
        <!--Grid column-->
    
      </div>
      <!--Grid row-->
    </div>
  </section>
  
  <br>
  <br>
  <section style="height: 310px;background-color:rgb(248, 177, 23);opacity: 0.8">
  <div class="text-center">
    <br><br><br>
    <h1 style="color: white; font-weight:bold;font-family: myfonts">Subscribe To Our Newsletter</h1>
  <input type="email" style="border: none;width:500px;height: 55px;border-radius: 30px;"> <button class="btn btn-warning" style="margin: 20px;">Subscribe</button>
  
  </div>
  </section>
  <br>
  <br>
  <section class="text-center my-5" style="margin: 90px;margin-bottom: 20px;">
  
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5 fade" style="font-family: myfonts" data-aos="fade-in"  data-aos-duration="2000">Style To Steal</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5 fade" style="font-family:cursive;">Inspired by influencers.</p>
  
    <!-- Grid row -->
    <div class="row " >
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 fade">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half" >
          <!-- Card image -->
          <div class="view zoom ">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid fade"
              alt="">
            <div class="stripe dark" style="background-color: black;overflow:hidden;height: 40px;">
              <a>
                <p style="color: white;">Red trousers
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 fade" >
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half" >
          <!-- Card image -->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid"
              alt="">
            <div class="stripe light" style="background-color: black;overflow:hidden;height: 40px;">
              <a>
                <p style="color: white;">Sweatshirt
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-4 fade">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid"
              alt="">
            <div class="stripe dark" style="background-color: black;overflow:hidden;height: 40px;">
              <a>
                <p style="color: white;">Accessories
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->
  
      <!-- Fourth column -->
      <div class="col-lg-3 col-md-6">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half fade">
          <!-- Card image -->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid"
              alt="">
            <div class="stripe light" style="background-color: black;overflow:hidden;height: 40px;">
              <a>
                <p style="color: white;">Sweatshirt
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Fourth column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Products v.4 -->
  <br><br>
  <section class="text-center my-5" style="margin: 70px;">
  
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5 fade" style="font-family: myfonts">Our bestsellers</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5 fade">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
      nostrum quisquam eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div  class="row">
  
      <!-- Grid column -->
      <div  class="col-lg-3 col-md-6 mb-lg-0 mb-4 fade" *ngFor="let product of products" style="height: 400px;">
        <!-- Card -->
        <div class="card align-items-center" >
          <!-- Card image -->
          <div class="view overlay">
            <img  src={{data.src}} class="card-img-top"
              alt=""> 
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body text-center">
            <!-- Category & Title -->
            <a href="" class="grey-text">
              <h5>Shirt</h5>
            </a>
            <h5>
              <strong>
                <a  href="" class="dark-grey-text">{{product.name}}
                  <span class="badge badge-pill danger-color">NEW</span>
                </a>
              </strong>
            </h5>
            <h4 class="font-weight-bold blue-text">
              <strong>{{product.price}}</strong>
            </h4>
            <a class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;" [routerLink]="['/mycart', { id:product.id }]" >Add to cart</a>
  
          </div>
          <!-- Card content -->
</div>

</div>
      <!-- Grid column -->
  
</div>
  
    <!-- Grid row -->
    <br><br>
    <br>
    <br><br><br><br><br>
    <!-- Section: Blog v.1 -->
  <section class="my-5" style="margin: 70px;" >
  
     
    
      <!-- Grid row -->
    
      <hr class="my-5">
    
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-lg-7 " style="margin-top: 60px;">
    
          <!-- Category -->
          <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3 fade" ><i class="fas fa-image pr-2"></i>Lifestyle</h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3 fade"><strong>Trending Now</strong></h3>
          <!-- Excerpt -->
          <p class="fade">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident.</p>
          <!-- Post data -->
          <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
          <!-- Read more button -->
          <a class="btn btn-pink btn-md mb-lg-0 mb-4">Read more</a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-5">
    
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2">
            <img class="img-fluid" src="assets\images\austin-distel-h1RW-NFtUyc-unsplash.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    
    
    <br><br>
    </section>
    <!-- Section: Blog v.1 -->
    <br><br>
      <h2 class="text-center fade" style="font-weight: bold;font-family: myfonts">Explore Our Other Stuff</h2>
      <br>
      <br>
    <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 fade">
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img routerLink="/prodouct-details" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg" class="card-img-top"
                alt="" style="cursor: pointer;">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a href="" class="grey-text">
                <h5>Shirt</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">Denim shirt
                    <span class="badge badge-pill danger-color">NEW</span>
                  </a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>120$</strong>
              </h4>
              <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
    
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 fade">
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Others/img%20(31).jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a href="" class="grey-text">
                <h5>Sport wear</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">Sweatshirt</a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>139$</strong>
              </h4>
              <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-md-0 mb-4 fade">
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a href="" class="grey-text">
                <h5>Sport wear</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">Grey blouse
                    <span class="badge badge-pill primary-color">BEST</span>
                  </a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>99$</strong>
              </h4>
              <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 fade" >
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a href="" class="grey-text">
                <h5>Outwear</h5>
              </a>
              <h5>
                <strong>
                  <a href="" class="dark-grey-text">Black jacket</a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>219$</strong>
              </h4>
              <button class="btn btn-primary"  mdbBtn gradient="peach"  style="width: 200px;margin-top: 5px;">Add To Cart</button>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
    
      </div>
  
  </section>
  
 <!-- footer part start-->
 <footer class="footer-area">
  <div class="footer section_padding">
      <div class="container">
          <div class="row">
              <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
                  <h4>Services Link</h4>
                  <ul>
                      <li><a href="#">Eye treatment</a></li>
                      <li><a href="#">Skin Surgery</a></li>
                      <li><a href="#">Diagnosis clinic</a></li>
                      <li><a href="#"> Dental care</a></li>
                      <li><a href="#">Neurology service</a></li>
                      <li><a href="#">Plastic surgery</a></li>
                  </ul>
              </div>
              <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
                  <h4>Quick Links</h4>
                  <ul>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Department</a></li>
                      <li><a href="#"> Online payment</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Department</a></li>
                  </ul>
              </div>

              <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
                  <h4>Explore</h4>
                  <ul>
                      <li><a href="#">In the community</a></li>
                      <li><a href="#">IU health foundation</a></li>
                      <li><a href="#">Family support </a></li>
                      <li><a href="#">Business solution</a></li>
                      <li><a href="#">Community clinic</a></li>
                  </ul>
              </div>
              <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
                  <h4>Resources</h4>
                  <ul>
                      <li><a href="#">Lights were season</a></li>
                      <li><a href="#"> Their is let wherein</a></li>
                      <li><a href="#">which given over</a></li>
                      <li><a href="#">Without given She</a></li>
                      <li><a href="#">Isn two signs think</a></li>
                  </ul>
              </div>
              <div class="col-xl-4 col-sm-8 col-md-8 mb-4 mb-xl-0 single-footer-widget">
                  <h4>Newsletter</h4>
                  <p>Seed good winged wherein which night multiply
                      midst does not fruitful</p>
                  <div class="form-wrap" id="mc_embed_signup">
                      <form target="_blank"
                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="form-inline">
                          <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                              required="" type="email">
                          <button class="click-btn btn btn-default text-uppercase">subscribe</button>
                          <div style="position: absolute; left: -5000px;">
                              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                  type="text">
                          </div>

                          <div class="info"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="copyright_part">
      <div class="container">
          <div class="row align-items-center">
              <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"> <i class="ti-twitter"></i> </a>
                  <a href="#"><i class="ti-instagram"></i></a>
                  <a href="#"><i class="ti-skype"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>
<h1 >{{events}}</h1>